body {
    margin: 0;
    background-color: black;
}

#root {
    padding: 3rem;
    text-align: center
}

.logo {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
}

.logo > span:nth-child(1n) {
  color: #a9363e;
}

.logo > span:nth-child(2n) {
  color: #a96836;
}

.logo > span:nth-child(3n) {
  color: #a9a136;
}

.logo > span:nth-child(4n) {
  color: #77a936;
}

.logo > span:nth-child(5n) {
  color: #36a9a1;
}

.logo > span:nth-child(6n) {
  color: #3677a9;
}

.logo > span:nth-child(7n) {
  color: #6836a9;
}

#root canvas {
    display: block;
    margin: 0 auto;
    border: 4px solid rgb(169, 169, 169);
}
